html, body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
}
.container{
    display: grid;
    grid-template-areas:"header header header"
                         "blok1 blok2 blok3"
                         "blok4 blok5 blok6"
                         "blok7 blok8 blok9"
                         "blok10 . ."
                         "footer footer footer";
    grid-template-columns: 1.5fr 1.5fr 1.5fr;
    grid-template-rows: auto auto auto;
    gap: 0px;
    min-width: 500px;
    padding: 20px;
    margin: 20px;
}
.header{
    background-color: rgb(128, 128, 250);
    padding: 50px;
    text-align: center;
    border-radius: 10px;
    grid-area: header;
}
.blok1{
    grid-area: blok1;
    background-color: #3c8454;
    color: white;
    padding: 30px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.blok1 img{
    width: 250px;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
}
.blok2{
    grid-area: blok2;
    background-color: #3c8454;
    color: white;
    padding: 30px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.blok2 img{
    width: 250px;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
}
.blok3{
    grid-area: blok3;
    background-color: #3c8454;
    color: white;
    padding: 30px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.blok3 img{
    width: 250px;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
}
.blok4{
    grid-area: blok4;
    background-color: #3c8454;
    color: white;
    padding: 30px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}
.blok4 img{
    width: 250px;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
}
.blok5{
    grid-area: blok5;
    background-color: #3c8454;
    color: white;
    padding: 30px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}
.blok5 img{
    width: 250px;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
}
.blok6{
    grid-area: blok6;
    background-color: #3c8454;
    color: white;
    padding: 30px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}
.blok6 img{
    width: 250px;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
}
.blok7{
    grid-area: blok7;
    background-color: #3c8454;
    color: white;
    padding: 30px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}
.blok7 img{
    width: 250px;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
}
.blok8{
    grid-area: blok8;
    background-color: #3c8454;
    color: white;
    padding: 30px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}
.blok8 img{
    width: 250px;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
}
.blok9{
    grid-area: blok9;
    background-color: #3c8454;
    color: white;
    padding: 30px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.blok9 img{
    width: 250px;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
}
.blok10{
    grid-area: blok10;
    background-color: #3c8454;
    color: white;
    padding: 30px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}
.blok10 img{
    width: 250px;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
}
.footer{
    grid-area: footer;
    background-color: #333;
    color: white;
    padding: 50px;
    text-align: center;
    border-radius: 10px;
}
@media screen and (max-width: 500px){
    .container{
        display: flex;
        flex-direction: column;
        min-width: 200px;
    }
}
